.wrapper { composes: wrapper from '../../../styles/atoms.module.css'; }
.label { composes: label from '../../../styles/atoms.module.css'; }
.required { composes: required from '../../../styles/atoms.module.css'; }
.input { composes: input from '../../../styles/atoms.module.css'; }
.errorInput { composes: errorInput from '../../../styles/atoms.module.css'; }
.error { composes: error from '../../../styles/atoms.module.css'; }
.hint { composes: hint from '../../../styles/atoms.module.css'; }